<main class="page">
  <article class="card">
    @if (blog(); as selectedBlog) {
      <section class="section-block">
        <a routerLink="/blog"><- Back to all blogs</a>

        <h1>{{ selectedBlog.title }}</h1>
        <p class="text">{{ selectedBlog.excerpt }}</p>
        <p class="text">Published: {{ selectedBlog.date }}</p>

        <div class="tag-list underline-breakline">
          @for (tech of selectedBlog.technologies; track tech) {
            <a
              class="tag-item"
              [routerLink]="['/blog']"
              [queryParams]="{ tech: tech }"
            >
              {{ tech }}
            </a>
          }
        </div>
        <app-markdown-renderer [content]=selectedBlog.content></app-markdown-renderer>
      </section>
    } @else {
      <section class="section-block">
        <h1>Blog post not found</h1>
        <a routerLink="/blog">Back to blog</a>
      </section>
    }
  </article>
</main>